#map-tools{
  position: fixed;
  bottom: 8px;
  right: 8px;
  background: white;
  z-index: 999999;
  width: 180px;
  border-radius: 4px; 
  padding: 8px 0;
  padding-bottom: 4px;
  box-shadow: 0 0 10px 2px rgba(31,51,73,.1);
}